button {
    height: 21px;
    width: 36px;
    outline: none;
    margin: 10px;
    border: 3px ridge white;
    border-radius: 2px;
}

button.current {
    box-shadow: 0 0 0 2px white, 
                0 0 0 4px black;
}

